.textarea{
    width: 50%;
    height: 104px;
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid rgba(147, 156, 171, 1);
    font-size: 0.9rem;
    
    &::placeholder{
        color: var(--the, #939CAB);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}